body {
  margin: 0%;
  background-color: rgb(54, 70, 70);
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
}
section {
  padding: 3%;
  font-size: larger;
  color: aliceblue;
}
