body {
  margin: 0%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
form {
  margin: auto;
  margin-top: 10%;
  padding: 4%;
  margin-bottom: 0%;
  background-color: rgb(51, 51, 158);
  width: 50vw;
  opacity: 90%;
  color: white;
  border-radius: 9px;
}

#submit-button {
  background-color: #37af65;
}
