body {
  background-color: blue;
}

.fixed-sidebar {
  background-color: black;
  height: 100%;
  font-size: x-large;
}
#main {
  float: right;
  margin: 0 1.5%;
  width: 86%;
  font-size: x-large;
}
#sidebar {
  background-color: black;
  position: fixed;
  
}
aside {
  float: left;
  width: 10%;
}
