body {
  margin: 0%;
}
#menu {
  position: fixed;
  background-color: rgb(43, 38, 38);
  float: left;
  width: 9%;
  height: 100%;
  padding: 2%;
  font-size: x-large;
}
#main {
  background-color: rgb(61, 65, 63);
  float: right;
  font-size: x-large;
  width: 85%;
  height: 100%;
  padding: 1%;
  color: rgb(183, 187, 190);
}
a:link {
  color: rgb(51, 162, 244);
  text-decoration: none;
}
a:visited {
  color: rgb(51, 162, 244);
}
a:hover {
  color: aqua;
}
