body {
  background-color: rgb(46, 44, 42);
  color: white;
  margin-top: 0%;
}
nav {
  background-color: rgb(132, 139, 146);
  position: fixed;
  width: 100vw;
  margin-top: 0%;
  padding: 1vw;
}
section {
  margin-top: 2%;
  padding: 1vw;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  color: white;
  background-color:  rgb(158, 162, 167);
}
