nav {
  background-color: aquamarine;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
}
li {
  display: inline-block;
}
li a {
  list-style-type: none;
}
li a:hover {
}
#maini {
  margin-top: 3%;
}
