nav {
  display: block;
  float: right;
}
nav input {
  padding: 5px;
}
nav a {
  padding: 5px;
}
/* nav a.hover {}nav a.hover {}nav a.hover {}nav a.hover {} */
#logo {
  margin: auto;
  padding-top: 20vh;
  height: 17vh;
  width: 25vw;
}
#logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

#search-bar  {
  margin: auto;
  height: 5vh;
  width: 42vw;
}

#search-bar input {
  border-radius: 15px;
  border-color: rgb(161, 164, 167);
  outline: none;
  width: 100%;
  height: 100%;}
#buttons{
  margin: auto;
  margin-bottom: 0%;
  position: fixed;
}
#buttons{
  margin-left: auto;
  margin-right: auto;
  
}