body {
  margin: auto;
  text-align: center;
  padding: 20%;
}
button {
  color: red;
  border-color: rgb(255, 8, 8);
  background-color: transparent;
  font-size: larger;
}
button:hover {
  background-color: red;
  color: white;
}
